body {
  background-color: rgb(236, 243, 247);
}

.breakLine {
  border-bottom: 1px solid rgb(189, 186, 186);
  direction: ltr;
  display: flex;
  margin: 1rem 1rem 0.5rem 1rem;
}

button {
  background-color: rgb(54, 155, 223);
  border: 1px solid transparent;
  border-radius: 0.5rem;
  color: beige;
  font-family: Arial, Helvetica, sans-serif;
  height: 2.5rem;
  width: 35rem;
}

#emailOrphone {
  border-radius: 0.5rem;
  height: 2.5rem;
  outline-color: lightskyblue;
  width: 22.4rem;
}

.emlphn,
.pass {
  padding-left: 1.5rem;
}

h1 {
  color: rgb(37, 114, 214);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
  margin: 0;
}

.help {
  color: rgb(0, 140, 255);
  display: flex;
  justify-content: center;
  margin: 1rem 3rem 0rem 3rem;
}

.help:hover {
  text-decoration: underline;
}

.inputDetails {
  display: flex;
  margin: 1rem 1rem 2rem 1rem;
}

.inputPassword {
  display: flex;
  margin: 0rem 1rem 0rem 1rem;
}

.login {
  background-color: white;
  border-radius: 0.8rem;
  justify-content: end;
  height: 23rem;
  margin: auto 0 auto 0.2rem;
  width: 25rem;
}

.loginButton {
  display: flex;
  margin: 2rem 1rem 0.5rem 1rem;
  padding: auto;
}

.loginPage {
  display: flex;
  padding: 5rem 0 7rem 0;
  margin: auto 2rem;
}

.msg {
  flex-wrap: wrap;
  margin: auto 2rem auto 15rem;
  width: 25rem;
}

.newAccount {
  background-color: rgb(17, 192, 17);
  height: 3rem;
  margin: 1rem 5rem 2rem 5rem;
  width: 15rem;
}

p {
  flex-wrap: wrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.7rem;
  margin: 0;
}

#password {
  border-radius: 0.5rem;
  height: 2.5rem;
  outline-color: lightskyblue;
  width: 22.6rem;
}
